<!-- <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50%; width: 50%; border: 2px solid black; margin-left: 25%; margin-top: 50px;}
      .enter { height: 400px; width: 500px; background-color: gray; margin-left: 35%; margin-top: 20px}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDycAyIXcr2VbviwfNXqcQEBeGsvm7Xe9w&sensor=false"></script>
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/application.js"></script>
  </head>
  <body>
<form>
<input id="enter" type="text" name="city" value="">
</form>

    <div id="map-canvas"></div>
    <div class="enter">
      <form name="recomendation" action="#" method="post">

<p>LAT: <input id="lat" type="text" name="lat" readonly></p>
<p>LNG: <input id="lng" type="text" name="lng" readonly></p>
<p>Place: <input type="text" name="place"></p>
<p>Description: <input type="text" name="description"></p>

<p>
<input type="radio" name="select[]" value="Restaurant">Restaurant<br>
<input type="radio" name="select[]" value="Hotel">Hotel<br>
<input type="radio" name="select[]" value="Bar">Bar<br>
<input type="radio" name="select[]" value="Sight">Sight<br>
</p>

<input type="submit" value="Submit">
</form>

    </div>
  </body>
</html>




 -->